@model System.Collections.Generic.IEnumerable<SaleStatictic_Task5.Models.OrderViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "OrderView";
}
<h2>Заказы</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
        </tr>
    }
</table>
