@model SaleStatictic_Task5.Models.SaleInfoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Orders list";
}
<form method="get">
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Managers)
        @Html.DropDownList("manager", Model.Managers,
            new { @class = "form-control" })

        @Html.DisplayNameFor(model => model.Products)
        @Html.DropDownList("product", Model.Products,
            new { @class = "form-control" })
       
        @Html.DisplayNameFor(model => model.Clients)
        @Html.DropDownList("client", Model.Clients,
            new { @class = "form-control" })

        @Html.DisplayNameFor(model => model.Dates)
        @Html.DropDownList("date", Model.Dates,
            new { @class = "form-control" })

    </div>
    <input type="submit" value="Filter" class="btn btn-default" />
</form>
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Managers)</th>
        <th>@Html.DisplayNameFor(model => model.Products)</th>
        <th>@Html.DisplayNameFor(model => model.Clients)</th>
        <th>@Html.DisplayNameFor(model => model.Dates)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>