@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.Role == "admin")
{
    <p>@Html.ActionLink("Открыть панель администратора", "Index","Admin")</p>
}
<div id="chart_div">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {

            var options = {
                'title': 'Managers/Сlient',
                'width': 400,
                'height': 300
            };

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'ManagerName');
            data.addColumn('number', 'CountClients');

            $.getJSON('@Url.Action("Piechart", "Home")', null,
                function (result) {
                    if (result.Orders.length) {
                        $.each(result.Orders, function (index, c) {
                            data.addRow(
                                [c.ManagerName, c.CountClients]
                            );
                        });
                        // Отрисовка диаграммы
                        var chart = new google.visualization.PieChart(
                            document.getElementById('chart_div'));
                        chart.draw(data, options);
                    };
                });
        }
    </script>
</div>


<div class="row">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#showClients').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $('#Show').load(url);
            });

            $('#showOrders').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $('#Show').load(url);
            });

            $('#showManagers').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $('#Show').load(url);
            });

            $('#showProducts').click(function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $('#Show').load(url);
            });
        });
    </script>
    <p>@Html.ActionLink("Показать клиентов", "Index", "ClientViewModels", null, new { id = "showClients" })</p>
    <p>@Html.ActionLink("Показать заказы", "Index", "OrderViewModels", null, new { id = "showOrders" })</p>
    <p>@Html.ActionLink("Показать менеджеров", "Index", "ManagerViewModels", null, new { id = "showManagers" })</p>
    <p>@Html.ActionLink("Показать товары", "Index", "ProductViewModels", null, new { id = "showProducts" })</p>
    <p>@Html.ActionLink("Перейти на форму фильтрации заказов", "Filter")</p>
  
  
    <div id="Show"></div>
</div>

@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")



