@model System.Collections.Generic.List<SaleStatictic_Task5.Models.OrderViewModel>

<div id="searchresults">
<h3>Client Name : @Model.First().ClientId</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Id</li>
        <li>@item.Date</li>
        <li>@item.ProductId</li>
        <li>@item.ClientId</li>
        <li>@item.ManagerId</li>
    }
</ul>
</div>